@{
    ViewData["Title"] = "Spells Index";
}

<div class="text-center">
    Here are my list of spells.

    <ol>
        @for(var i = 1; i <= 1000; i++) {
            <li>The spell number was: @i</li>
        }
    </ol>
</div>
