@model SpellsDatabase

@{
    ViewData["Title"] = "Spells Index";
}

<div class="text-center">
    Here are my list of spells.

    <ol>
        @for(var i = 0; i < Model.Count(); i++) {
            <li>@Model.Get(i).Spell - <a href="spells/viewSpell/@i">View Spell</a></li>
        }
    </ol>

    <form method="post" action="spells/add">
        Spell Name: <input type="text" name="spellName" />

        <input type="submit" value="Add Spell" />
    </form>
</div>
